
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCompanyLabel" translate="psmar16App.company.home.createOrEditLabel">Create or edit a Company</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="company.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="psmar16App.company.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="company.code"
                    required ng-minlength="5" ng-maxlength="20" />
            <div ng-show="editForm.code.$invalid">
                <p class="help-block"
                    ng-show="editForm.code.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.code.$error.minlength" translate="entity.validation.minlength" translate-value-min="5">
                    This field is required to be at least 5 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.code.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="psmar16App.company.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="company.name"
                    required ng-minlength="5" ng-maxlength="100" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.minlength" translate="entity.validation.minlength" translate-value-min="5">
                    This field is required to be at least 5 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="psmar16App.company.phone" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                    ng-model="company.phone"
                    required ng-maxlength="20" />
            <div ng-show="editForm.phone.$invalid">
                <p class="help-block"
                    ng-show="editForm.phone.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.phone.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="psmar16App.company.tollPhone" for="field_tollPhone">TollPhone</label>
            <input type="text" class="form-control" name="tollPhone" id="field_tollPhone"
                    ng-model="company.tollPhone"
                    ng-maxlength="20" />
            <div ng-show="editForm.tollPhone.$invalid">
                <p class="help-block"
                    ng-show="editForm.tollPhone.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="psmar16App.company.mobile" for="field_mobile">Mobile</label>
            <input type="text" class="form-control" name="mobile" id="field_mobile"
                    ng-model="company.mobile"
                    ng-maxlength="20" />
            <div ng-show="editForm.mobile.$invalid">
                <p class="help-block"
                    ng-show="editForm.mobile.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="psmar16App.company.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="company.email"
                    ng-minlength="5" ng-maxlength="50" ng-pattern="/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/" />
            <div ng-show="editForm.email.$invalid">
                <p class="help-block"
                    ng-show="editForm.email.$error.minlength" translate="entity.validation.minlength" translate-value-min="5">
                    This field is required to be at least 5 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.email.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.email.$error.pattern" translate="entity.validation.pattern" translate-value-pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$">
                    This field should follow pattern "^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="psmar16App.company.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="company.status" id="field_status" required>
                <option value="INACTIVE" translate="psmar16App.CompanyStatus.INACTIVE">INACTIVE</option>
                <option value="ACTIVE" translate="psmar16App.CompanyStatus.ACTIVE">ACTIVE</option>
                <option value="SUSPENDED" translate="psmar16App.CompanyStatus.SUSPENDED">SUSPENDED</option>
            </select>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="psmar16App.company.startDate" for="field_startDate">StartDate</label>
            <input id="field_startDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="company.startDate" is-open="datePickerForStartDate.status.opened"
            required/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForStartDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
            <div ng-show="editForm.startDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.startDate.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="psmar16App.company.endDate" for="field_endDate">EndDate</label>
            <input id="field_endDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="company.endDate" is-open="datePickerForEndDate.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForEndDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>

        <div class="form-group">
            <label translate="psmar16App.company.Module" for="field_Module">Module</label>
            <select class="form-control" id="field_Module" multiple name="Module" ng-model="company.modules" ng-options="module as module.name for module in modules track by module.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
